<!DOCTYPE html>
<html>
<head>
  <title>Pixl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <script type="text/javascript">
    window.images = {
      heart: "<%= image_url("1475708422_bit-09.png") %>",
      camera: "<%= image_url("1475708445_bit-26.png") %>",
      invader: "<%= image_url("1475708719_bit-17.png") %>"
    }
  </script>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Press+Start+2P|VT323" rel="stylesheet">

</head>
<body>

<%= yield %>

</body>
</html>
