<!DOCTYPE html>
<html>
<head>
  <title>Pixl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="icon" href="<%= image_url("1475708719_bit-17.png") %>" media="screen" title="no title">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|VT323" rel="stylesheet"/>
  <!-- <script type="text/javascript">
    window.images = {
      heart: "<%= image_url("1475708422_bit-09.png") %>",
      camera: "<%= image_url("1475708445_bit-26.png") %>",
      invader: "<%= image_url("1475708719_bit-17.png") %>"
    }
  </script> -->
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
